<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Display the photos taken  -->
  <ion-grid>
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let photo of photoService.photos; index as position"
      > <!-- for : iterating in the array of photos provided by the service -->
        <ion-img [src]="photo.webviewPath"
                 (click)="showActionSheet(photo, position)"></ion-img>
        <!-- showActionSheet for delete !! -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Display the button -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">

    <ion-fab-button (click)="addPhotoToGallery()"> <!-- Add the action here !  -->
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- there are two of them due to iOS Collapsible Large Title support -->
      <ion-title size="large">Photo Gallery</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
